#partIV{

  img{
    width: 100%;
  }

  button{
    background-color: #c69963;
    border-radius: 0px;
    font-size: 1.3em;
    padding: 0.6em 1.5em;
    color: white;
    width: max-content;
  }

  button:hover{
    background-color: #a06917;
  }

  button:active{
    transform: translateY(1px);
  }

  .homeName{
    padding: 0.6em;
    background-color: #101d2c;
    width: 80%;
    position: relative;
    transform: translateY(-20px);

    & h5{
      font-weight: normal;
      font-size: 1.2em;
    }
  }

}