@import "navbar";
@import "header";
@import "realtors";
@import "features";
@import "story";
@import "homes";
@import "gallery";
@import "footer";

//---------------------------

#rightpart{
  width: 95%;
}

#navleft{
  width: 5%;
}

#navcollapse{
  display: none !important;
}

@media (max-width: 768px){

  #rightpart{
    width: 100%;
  }

  #navcollapse{
    display: flex !important;
    justify-content: center;
    width: 100%;
    z-index: 2;
  }

  #navleft{
    display: none !important;
  }

}